

html {
    overflow-x: hidden
}

body {
    margin: 0;
    padding: 0;
}


.hd img {
    max-width: 60px;
    max-height: 50px;

}


.hd {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 7px 8px -2px #B88E2F;
    -webkit-box-shadow: 0px 7px 8px -2px #B88E2F;
    -moz-box-shadow: 0px 7px 8px -2px #B88E2F;
    padding-bottom: 12px;
    margin: 0;
    width: 100vw;
    left: 0;
    right: 0;
    margin-top: 10px;
    position: sticky;
    z-index: 10;
}

.hd h1 {
    margin: 0;
}

.dv_hd {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
}

.dv_hd button {
    border: none;
    background-color: white;
    font-weight: bold;
    margin: 0;
}

.dv_hd button:hover {
    cursor: pointer;
    opacity: 50%;
}

.dv_interacciones {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0;
    margin-right: 60px;

}

.btn_atencion {
    border: none;
    color: black;
    background-color: white;
}

.btn_atencion:hover {
    cursor: pointer;
    scale: 1.2;


}

.btn_busqueda {
    border: none;
    color: black;
    background-color: white;
}


.btn_busqueda:hover {
    cursor: pointer;
    scale: 1.2;


}

.btn_fav {
    border: none;
    color: black;
    background-color: white;
}

.btn_fav:hover {
    cursor: pointer;
    scale: 1.2;


}

.btn_carrito {
    border: none;
    color: black;
    background-color: white;

}

.btn_carrito:hover {
    cursor: pointer;
    scale: 1.2;


}